.App {
  height: 100vh;
  background-image: url('./Quiz-App/quiz-1.avif'); /* if using CSS modules or CRA, this may work */
  background-size: cover;
  background-position: center;
  border: 8ox solid #39445a93;
  margin: 5px;
  padding: 5px;
}
*{margin: 0;
padding: 0;
box-sizing: border-box;
scrollbar-width: thin;}
